#homeContainer {
  margin-top: 10vh;
  text-align: center;

  div.mat-display-3 {
    margin-bottom: 5vh;
  }

  div.mat-subheading-2 {
    margin-bottom: 15vh;
    color: #3f51b5;
    font-weight: 500;
  }

  td.spacer {
    width: 5px;
  }

  #contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
