<div class="container" id="homeContainer">
  <div class="mat-display-3">SME Certification Test</div>
  <div class="mat-subheading-2">
    <div>For User ID use email Address (test certificate will be mailed to you) or pseudonyme!</div>
    <div>Do not use the "Back"-Button of your browser!</div>
    <div>At least one answer per question is correct!</div>
  </div>
  <div id="contentContainer">
    <table>
      <tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>User ID</mat-label>
            <input matInput #userIdInput>
          </mat-form-field>
        </td>
        <td class="spacer"></td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Belt</mat-label>
            <mat-select #userBeltInput>
              <mat-option *ngFor="let belt of belts" [value]="belt.value">
                {{belt.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>


    <button [disabled]="!userIdInput.value || !userBeltInput.value" mat-raised-button color="primary" (click)="startQuiz()">Start Test</button>
  </div>
</div>
